@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Kanit:wght@500&display=swap");

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #f1f1f1;
}

.header_alike {
  padding: 24px 160px;
  margin: 0;
  font-family: "Kanit";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.hello_logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 160px;
}

section {
  padding: 0px 160px;
}

.subarticles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#articles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 36px;
  gap: 40px;
  width: 1120px;
  background: #f1f1f1;
}

.articles_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
}

#title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin: 0;
}

#body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.articles_info_header {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.articles_info_header p span {
  opacity: 0.5;
}

.articles_info_header p img {
  opacity: 0.5;
}
.articles img {
  display: flex;
  gap: 100px;
}

.articles_info_footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  background: linear-gradient(
      0deg,
      rgba(8, 30, 52, 0.12),
      rgba(8, 30, 52, 0.12)
    ),
    #fffbfe;
  border: none;
  width: 107px;
  height: 30px;
  border-radius: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.articles_info_footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px 0px 30px 0px;
  gap: 325px;
}

.articles_info_footer_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 330px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.articles_info_footer_left p {
  opacity: 0.5;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 778px 160px 32px;
  gap: 32px;
}

.frame22_text {
  padding: 10px 12px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #081e34;
  opacity: 0.5;
}

.made_with_love_text {
  margin: 0;
  padding: 10px 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.imgserver {
  width: 265px;
  height: 265px;
}